<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">JobsEasyGo</h1>
       <p class="slogan">JobsEasyGo 是一个为上百个工种提供工作机会的求职网站。
         <br>
         无论您想从事什么样的工作，无论您想就职何方，都可以获得更好的就业机会
         <br>
         EasyGo为您提供您需要的梦想资源
       </p>
       <p class="lead">
         <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">轻松快捷找工作</h2>
         <p class="lead">无论您身在何方，一台电脑或者一部手机</p>
         <p class="lead">轻松找到符合您所需要的工作机会</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">还在为如何修改简历而烦恼？</h2>
         <p class="lead">EasyGo为您提供简历样板  <a target="_blank" href="https://forum.qzy.camp/">更多资源请参考</a></p>
         <p class="lead"></p>
       </div>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">还在为面试而发愁？</h2>
         <p class="lead">EasyGo与您分享成功经验<a target="_blank" href="http://carey-xu-blog.logdown.com/">Carey的logdown</a></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">请为EasyGo留下宝贵意见</h2>
         <p class="lead">让我们共同成长收获未来</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
